<div>
  {% if include.title %}
  <p class="feature-title
  {% if include.align %}
    {{ include.align }}
  {% endif %}
  ">{{ include.title }}</p>
  {% endif %}
<div
  class="feature"
  {% if include.flip %}
    data-flip
  {% endif %}
>
  <a
    {% if include.link %}
      href="{{ include.link | relative_url }}" 
    {% endif %}
    class="feature-image"
    aria-label="{{ include.title | default: "feature link" }}"
  >
    <img
      {% if include.fit %}
        img-fit
      {% endif %}      
      src="{{ include.image | relative_url }}"
      loading="lazy"
      alt="{{ include.title | default: "feature image" }}"
      {% include fallback.html %}
    >
  </a>
  <div class="feature-text">
    {{ include.text | markdownify }}
  </div>
</div>
</div>
