{% assign image = page.header | default: site.header | relative_url %}
{% assign dark = page.header-dark | is_nil: site.header-dark | is_nil: true %}

{% assign svg = "images/icon-logo.svg" | file_exists %}
{% assign png = "images/icon-logo.png" | file_exists %}
{% assign jpg = "images/icon-logo.jpg" | file_exists %}
{% assign logo = svg | default: png | default: jpg | default: nil %}

<header
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  {% if page.url == "/" %}
    data-big
  {% endif %}
>
  <a href="{{ "/" | relative_url }}" class="home">
    {% if logo %}
      <span class="logo">
        {% if svg %}
          {{ svg | file_read }}
        {% else %}
          <img src="{{ logo | relative_url }}" alt="logo">
        {% endif %}
      </span>
    {% endif %}
    {% if site.logo-text != false %}
      <span class="title" data-tooltip="Home">
        {% if site.title and site.show-title != false %}
          <span>{{ site.title }}</span>
        {% endif %}
        {% if site.subtitle and site.show-subtitle != false %}
          <span>{{ site.subtitle }}</span>
        {% endif %}
      </span>
    {% endif %}
  </a>

  <input class="nav-toggle" type="checkbox" aria-label="show/hide nav">

  <nav>
    <a href="{{ "/" | relative_url }}" class="home">
      Home
    </a>
    {% assign pages = site.pages
      | where_exp: "page", "page.nav"
      | sort: "nav.order"
    %}
    {% assign grouped = pages | group_by_exp: "page", "page.parent" %}

    {% for group in grouped %}
      {% assign parent = group.name %}
      {% assign children = group.items %}

      {% if parent == "nil" %}
        {% for page in children %}
          <a
            href="{{ page.url | relative_url }}"
            data-tooltip="{{ page.nav.tooltip }}"
          >
            {{ page.title }}
          </a>
        {% endfor %}
      {% else %}
        {% assign parent_page = pages | where: "title", parent | first %}
        <div class="dropdown">
          <a
            href="{{ parent_page.url | relative_url }}"
            class="dropdown-toggle"
            data-tooltip="{{ parent_page.nav.tooltip }}"
          >
            {{ parent_page.title }}
          </a>
          <div class="dropdown-menu">
            {% for child in children %}
              <a
                href="{{ child.url | relative_url }}"
                data-tooltip="{{ child.nav.tooltip }}"
              >
                {{ child.title }}
              </a>
            {% endfor %}
          </div>
        </div>
      {% endif %}
    {% endfor %}

  </nav>
</header>
